
.dashboard {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: var(--bg1);
  color: var(--text-accent3);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.dash-header-container {
  background: var(--bg1);
  padding: 0 0 10px 0;
  box-shadow: 0px 0px 1px var(--text1);
}
/*wide view sidebar*/
.dashboard header {
  color: var(--text2);
  position: absolute;
  right: 6%;
  display: none;
}
.dash-header {
  font-family: var(--font-heading);
  padding-left: 4%;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text2);

}
.menu-icon {
  
  width: 40px;
  position: absolute;
  top: 0;
  left: 90%;
  color: var(--text1);
  margin-top: 30px;
}
.menu-icon svg {
  cursor: pointer;
  color: var(--text1);
  width: 30px;
  height: 30px;
 
}
.user-settings-dropdown {
  background: var(--bg2);
  width: 300px;
  height: 20vh;
  list-style: none;
  padding: 20px;
  font-size: 0.8rem;
  line-height: 2rem;
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-icon:hover {
  background: var(--bg2);
  transition: 0.6s;
}

.menu-icon ul li:hover {
  text-decoration: underline;
  cursor: pointer;
  
}
.set-bal{
  background: var(--bg1);
  position: fixed;
  top: 0 ; 
  left: 0;
  height: 100vh; 
  background: rgba(0,0,0,0.9); 
  z-index: 1000;
  padding: 100px 50px;
}
.set-bal h3 {
  text-align: center;
  margin-bottom: 100px;
}
.set-bal input {
  max-width: 200px;
  display: block;
  margin: 0 auto 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--bg3);
  font-size: 1.2rem;
  outline: none;
}
.set-bal button {
  display: block;
  margin: 30px auto;
  min-width: 40px;
  width: 10% ;
  cursor: pointer;
}

.greetings { 
  color: var(--text-accent4);
  padding-left: 30px;
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text1);
}


.bal-card {
  color: var(--bg1);
  text-align: left;

}
.bal-card-header {
  font-size: 0.7rem;
  padding-left: 60px;
}
.bal-card-amt {
  font-family: var(--font-body);
  font-size: 1.6rem;
  color: var(--bg3);
  padding-left: 60px;
}
.clickable-cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 95%;
  margin: 0 auto;
}
.clickable-cards > :nth-child(3) {
  grid-column: 1/ span 2;
}

.nav-logo {
  padding: 20px;
  text-align: center;
}
.nav-logo-img {
  width: 60%;
  margin: 30px auto;
  height: 90px;
  border-radius: 5px;
  box-shadow: 0 6px 6px var(--text2);
  padding-top: 20px;
}
.nav-logo-img svg {
  height: 50px;
}
.dash-footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}


@media(min-width:769px) {
  .dashboard {
    padding-left: 140px;
  }
  .dashboard header {
    display: block;
  }
  .dash-header-container {
    box-shadow: 0px 0px 0px var(--bg1);
  }
  .greetings {
    padding-left: 40px;
  }
  .dash-footer-nav {
    display: none;
  }
  .clickable-cards {
    gap: 15px;
  }
  .clickable-cards > :nth-child(3) {
    height: 200px;
  }
.menu-icon {
  left: 92%;
  }

}

