.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.login-card {
  background: var(--bg1);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 0px 10px var(--bg3);
  text-align: center;
  width: 60%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}

/* Heading */
.login-card h1 {
  flex: 1 1 10%;
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--text3);
  text-shadow: 2px 8px 10px var(--text-accent4);
}

/* Inputs */
.login-card input {
  width: 90%;
  padding: 2rem 0.5rem 0.8rem;
  border: none;
  border-bottom: 1px solid var(--text1);
  font-size: 0.8rem;
  font-family: var(--font-body);
  transition: border 0.2s;
  outline: none;
  color: #444;
  background: white;
}

.login-card input:focus {
  border-bottom: 1px solid var(--text-accent4);
}

/* Button */
.login-card button {
  width: 80%;
  padding: 0.8rem;
  margin-top: 1.5rem;
  background: var(--text2);
  color: var(--bg1);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: var(--font-heading);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.6s, transform 0.2s;
}
.login-card button:last-child {
  background: transparent;
  color: var(--text2);
  border: none;
}

.login-card button:first-child:hover {
  box-shadow: 2px 8px 10px var(--text-accent4);
  
}
.login-card button:last-child:hover {
  color: var(--text-accent4);
  
}

.login-card span {
  display: block;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: var(--text2);
}

@media(min-width: 769px) {
  .login-card {
    flex-direction: row;
  }
  .login-card h1 {
    font-size: 4rem;
    margin: 30px 30px 0 0;
  }
  .login-card input {
  width: 80%;
  }
}
