.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.login-card {
  background: var(--bg1);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 2px 8px 10px var(--text-accent4);
  text-align: center;
  width: 100%;
  max-width: 380px;
}

/* Heading */
.login-card h1 {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--text3);
  text-shadow: 2px 8px 10px var(--text-accent4);
}

/* Inputs */
.login-card input {
  width: 90%;
  padding: 0.9rem;
  margin: 0.6rem 0;
  border: 1px solid var(--bg1);
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-body);
  outline: none;
  transition: border 0.2s;
  color: var(--bg3);
  background: var(--dark-bg2);
}

.login-card input:focus {
  border: 1px solid var(--text3);
}

/* Button */
.login-card button {
  width: 80%;
  padding: 0.9rem;
  margin-top: 1.5rem;
  background: var(--text3);
  color: var(--dark-bg1);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: var(--font-heading);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.login-card button:hover {
  color: var(--bg1);
  background: var(--text-accent4);
  box-shadow: 2px 8px 10px var(--text-accent4);
  
}

.login-card span {
  display: block;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: var(--text2);
}