.stats {
    width: 90%;
    background: var(--bg2);
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 60px;
    color: var(--text1);
}
.stats-header {
    
    text-align: center;
    text-shadow: 2px 8px 10px var(--text-accent4);
}
.totals {
    color: #444;
    padding-left: 20px;
}
.category-chart {
    background: var(--bg1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 80px;  
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.category-chart-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    overflow-y: hidden;
}
.date-chart {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: var(--bg1);
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow-y: hidden;
    padding-bottom: 100px;
}
h2 {
    text-align: center;
}

