.transactions-page {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 60px 1.5rem;
  background: var(--bg2);
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 6px var(--text1);
}

.transactions-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text3);
  margin-bottom: 1.5rem;
}

.transactions-table {
  margin-bottom: 2rem;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 600px;
}

.transactions-table table {
  width: 100%;
  border-collapse: collapse;
  background: var(--bg1);
  border-radius: 8px;
  overflow: hidden;
}

.transactions-table th,
.transactions-table td {
  text-align: left;
  border-bottom: 1px solid var(--text-accent4);
}

.transactions-table th {
  background: var(--dark-bg2);
  color: var(--bg1);
  font-weight: 500;
  padding: 0.75rem 1rem;
}

.transactions-table td {
  color: var(--text2);
  font-size: 0.9rem;
  padding: 0 1rem;
}
/*New Transaction*/
.new-trans-btn {
  background: transparent;
  padding: 10px 16px;
  border: 1px solid var(--text1);
  border-radius: 10px;
  color: var(--text1);
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  transition: background 0.6s ease;
  max-width: 500px;
  margin: 30px auto;
}

.new-trans-btn:hover {
  background: var(--text2);
  color: var(--bg1)
}
.del-trans-btn {
  padding: 10px 16px;
  border: 1px solid var(--dark-bg2);
  border-radius: 10px;
  background: transparent;
  color: var(--text1);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.6s ease;
  display: block;
  margin: 10px auto;
  height: 40px;
  max-width: 500px;
}

.del-trans-btn:hover {
  border-color: var(--text-accent4);
  color: var(--text-accent4);
}
/* Form Styling */
.add-transactions {
  margin-top: 2rem;
}

.add-transactions form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--bg2);
  padding: 1.25rem;
  margin-bottom: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--dark-bg1);
}

.add-transactions select,
.add-transactions input {
  flex: 1 1 200px;
  padding: 0.6rem;
  border: 1px solid var(--text-accent4);
  border-radius: 6px;
  font-size: 0.95rem;
  transition: border-color 0.2s;
  background: var(--bg3);
  color: #444;
}

.add-transactions select:focus,
.add-transactions input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

/* Save Transaction button*/
.add-transactions button {
  max-width: 500px;
  margin: 0 auto;
  flex: 1 1 100%;
  padding: 0.75rem;
  background: var(--text2);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;

}

.add-transactions button:hover {
  background: var(--text3);
}
.new-del-btn-container {
  margin-top: 100px;
}


@media (min-width:600px) {
  .transactions-table table {
    table-layout: fixed;
  }  
}
@media (min-width:768px) {
  .new-del-btn-container {
    display: flex;
    gap: 20px
  }
  .del-trans-btn {
    margin-top: 0px;
  }
}