.main-card { 
  background: var(--bg2);
  color: var(--text3);
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  height: 150px;
  text-align: center;
  font-weight: 800;
  transition: 0.7s;
  
  box-shadow: 2px 8px 10px var(--text3)
  
} 
.main-card:hover { 
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px var(--text-accent4); 
} 

.main-card-content svg { 
  height:60px;
  margin: 20px auto;
  width: 60px;

} 