.nav-bar-mobile {
    color: var(--text3);
    background: var(--bg1);
    height: 60px;
    padding: 10px;
    
}
.nav-bar-mobile svg:hover {

    color:  var(--text-accent4);
    transition: 0.6s;
}
.nav-bar-mobile ul {
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-between;
    margin: 10px auto;
    width: 90%;
}
.nav-bar-mobile li {
   
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--text1);
}
.nav-bar-mobile svg {
    cursor: pointer;
    color: var(--text1);
    width: 20px;
}

@media(min-width:768px) {
    .nav-bar-mobile svg {
        width: 20px;
    }
    .nav-bar-mobile {
        margin: 0 auto;
        width: 50%;
    }
}
